h1 {
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  font-size: 15px;
}

span.error {
  color: #ff0000;
  font-size: 15px;
}

input {
  display: inline-block;
  width: 100%;
  margin: 5px 0 20px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=submit] {
  border: 2px solid crimson;
  background-color: transparent;
  color: black;
  font-size: 22px;
  cursor: pointer;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: crimson;
  color: white;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

nav {
  padding: 17px 5px;
  background-color: aliceblue;
}

nav h2 {
  float: left;
  font-size: 20px;
}

nav a {
  float: right;
  color: black;
  font-size: 20px;
}