.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

h1 {
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: inline-block;
  font-size: 20px;
}

input[type="text"] {
  margin-left: 150px;
  font-size: 20px;
}

input[type="submit"] {
  float: right;
  font-size: 20px;
}

.error {
  color: #ff0000;
}

.qr {
  display: block;
  margin: 0 auto;
}